﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CC Telehealth - @ViewBag.Title</title>
        <style>
            body {
                background-color: lightgray;
            }
            #footer { 
                font-family: Arial, Helvetica, sans-serif;
                font-size: smaller;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        @RenderBody()
        <footer id="footer">
            &copy; @DateTime.UtcNow.Year  - CCTI
        </footer>
        @RenderSection("Scripts", false)
    </body>
</html>
