﻿@model FortisPayWeb_Sandbox.ViewModels.CustomData
@{
    ViewBag.Title = "Payments";
}
@section Scripts
{
    
}
        <div>
            <h3>Patient  Name: @Model.PatientName</h3>
            <h3>Payment   Amt: @Model.TransactionAmount</h3>
            <h3>Patient Email: @Model.PatientEmail</h3>
            <h3>Id           : @Model.Id</h3>
            <h3>Json         : @Model.Json</h3>
            <h3>Data         : @Model.Data</h3>
            <h3>Source       : src="https://api.sandbox.zeamster.com/hostedpaymentpage?id=@(Model.Id)&data=@(Model.Data)"
</div>
        <div>
            <iframe class="embed-responsive-item"
                    name="fortisSandbox"
                    src="https://api.sandbox.zeamster.com/hostedpaymentpage?id=@(Model.Id)&data=@(Model.Data)"
                    width="100%"
                    height="1000"
                    frameborder="0"
                    allow="fullscreen"
                    @* sandbox *@>
            </iframe>
        </div>
