﻿@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ERROR</title>
    <style>
        body {
            background-color: fuchsia;
        }
    </style>
</head>
<body>
    <div>
        <h1>This page is not used</h1>
    </div>
</body>
</html>
